.footer-section {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
  color: #f4f4fd;
}

.footer-section .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-link {
  text-align: center;
  margin-bottom: 16px;
  display: block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-stydio {
  color: #f4f4fd;
}

.footer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-title {
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-media .social-media-list {
  display: flex;
  gap: 16px;
  margin-top: 0;
  justify-content: center;
}

.footer-social-media .social-media-link:hover,
.footer-social-media .social-media-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-input-email {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-input-email::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms ease-out;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-section .container {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 550px;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-logo-text {
    max-width: 264px;
  }

  .footer-logo-link {
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-text {
    margin-right: 120px;
  }

  .footer-section .container {
    flex-wrap: nowrap;
    max-width: fit-content;
    column-gap: 0;
  }

  .footer-logo-link {
    text-align: left;
  }

  .footer-form-wrapper {
    margin-left: 80px;
  }
}
/* 

.footer-logo-text {
  margin-right: 120px;
}


.footer-form-wrapper {
  margin-left: 80px;
}

*/
