.icon-box {
  display: none;
}

.strategi-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.strategi-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  /* justify-content: space-between; */
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .strategi-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .strategi-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .strategi-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }

  .strategi-section-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/* 

.strategi-section-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.strategi-item {
  flex-basis: calc((100% - 72px) / 4);
}

 */
